<div class="container">
  <ion-row class="padding info">
    <ion-col size="3.5"><img [src]="imges.oink" alt="oink"></ion-col>
    <ion-col>
      <p class="text text__gray" [innerHTML]="istex ? texts.text : texts.text1 + this.phoneNumber"></p>
    </ion-col>
  </ion-row>
  <ion-row class="padding">
    <hr class="hr">
  </ion-row>
  <form [formGroup]="registerForm">
    <ion-row class="padding">
      <input *ngIf="istex" 
       type="number" 
       class="input-color" 
       placeholder="(XXX - XXXXXX)" 
       formControlName="phone_number"
       (click)="getFormName($event)"  
       [class.invalid]="checkErrors('phone_number')">
       
      <input *ngIf="!istex" 
       type="number"
       class="input-color" 
       placeholder="XXXX" 
       formControlName="verification_id"
       (click)="getFormName($event)" 
       [class.invalid]="checkErrors('verification_id')">

      <span *ngIf="checkErrors('verification_id')" [class.inval-span]="checkErrors('verification_id')">
        {{getErrorMessage("verification_id")}}
      </span>
    </ion-row>
  </form>
  <app-pad-number [isValid]="validateNumber()" [form]="registerForm" [formName]="formName" (next)="next(registerForm)">
  </app-pad-number>
</div>